.carmel/
local/
tags

script/charalog/command/*.cgi
script/charalog/log/*.cgi
script/charalog/main/*.cgi

script/log_file/act_log.cgi
script/log_file/admin_log.cgi
script/log_file/bbs.cgi
script/log_file/black_list.cgi
script/log_file/counter.cgi
script/log_file/country.cgi
script/log_file/country_mes.cgi
script/log_file/country_no.cgi
script/log_file/date_count.cgi
script/log_file/def_town.cgi
script/log_file/guest.cgi
script/log_file/local_rule.cgi
script/log_file/map_log.cgi
script/log_file/map_log2.cgi
script/log_file/mes_log.cgi
script/log_file/mes_log2.cgi
script/log_file/stop.cgi
script/log_file/town_data.cgi
script/log_file/unit_list.cgi
